<h2>List of ratings</h2>

<p>
  Number of ratings: <%= @ratings.count %>
</p>

<table>
  <thead>
    <tr>
      <th>Beer</th>
      <th>Score</th>
      <th>Rater</th>
    </tr>
  </thead>
  <tbody>
  <% @ratings.each do |rating| %>
    <tr>
      <td><%= link_to rating.beer.name, rating.beer %></td>
      <td><%= rating.score %></td>
      <td><%= link_to rating.user.username, rating.user %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br/>
<% if not current_user.nil? %>
    <%= link_to 'New rating', new_rating_path %>
<% end %>